pipeline/Load_CSVFiles_Sequential_SQLDB_copy1.json
{
	"name": "Load_CSVFiles_Sequential_SQLDB_copy1",
	"properties": {
		"description": "Copy  .CSV files from ADL to SQLDB;\n\nload the files in sequential using while loop;",
		"activities": [
			{
				"name": "Load_ParquetFiles",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Loop Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "LoadParquetFilesToSQLDB",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					}
				}
			},
			{
				"name": "Loop Files",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Read Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Read Files').output.childitems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_Archived",
									"type": "DatasetReference",
									"parameters": {
										"FileName": "@item()"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_Source",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Delete Files",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_Archived",
									"type": "DatasetReference",
									"parameters": {
										"FileName": "@item()"
									}
								},
								"logStorageSettings": {
									"linkedServiceName": {
										"referenceName": "ADLGen2_LinkedSer",
										"type": "LinkedServiceReference"
									},
									"path": "chandufiles/Logs"
								},
								"enableLogging": true,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false
								}
							}
						}
					]
				}
			},
			{
				"name": "Read Files",
				"description": "Reads all the file names from source",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_Source",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists",
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					}
				}
			}
		],
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}